.footer{

  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.392); */


}

button:disabled{

  cursor: not-allowed;
 background-color: white;


}


